<%- include("header") -%>

<h2> This is a ABout page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum laboriosam ipsum deserunt consectetur magni commodi quae, velit ut repellat cumque! Nobis sed vitae reprehenderit in eius voluptatum saepe nesciunt dolorem.</p>

<%- include("footer") -%>